.about-us-box {
  display: none;
  margin-top: -100px;
  padding-top: 50px;
  margin-bottom: 50px;

  .about-us-head {
    padding-top: 15px;

    margin-top: 100px;
    margin-bottom: 80px;
  }
}

.director-box {
  padding-top: 200px;
  padding-left: 15%;
  padding-right: 100px;
  background: url("../images/efp-logo.svg") 93% 100px no-repeat, url("../images/film-red.png") left top no-repeat;

  .ceo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .ceo-name-box {
    .ceo-name,
    .ceo-surname {
      font-family: "Futura PT Medium", sans-serif;
      font-size: 17px;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  .ceo-job-title {
    .position {
      font-family: "Futura PT Medium", sans-serif;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .place {
      font-family: "Futura PT Medium", sans-serif;

      font-size: 12px;
      font-style: italic;
      margin-top: 0;
    }
  }
}

.gifts {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .gift {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 100%;
  }
}

.about-seo {
  padding-left: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-right: -80px;
}

@include desktop{
  .about-us-box{
    display: block;
  }
}
