.carousel-box {
  margin-bottom: 40px;
}

.carousel-body {
  position: relative;

  .back {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../images/slick-arrow.svg') center no-repeat;
    filter: brightness(0) invert(1);
    left: -30px;
    top: 45%;
    transform: rotate(180deg);
  }

  .next {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../images/slick-arrow.svg') center no-repeat;
    filter: brightness(0) invert(1);
    right: -30px;
    top: 45%;
    cursor: pointer;
  }

  .slick-slide {
    margin: 0 15px;
  }
  
  // Fix external margins
  .slick-list {
    margin: 0 -5px;
  }
  .slick-slider {
    overflow: hidden;
  }
  
  // Move arrows on top of images
  .slick-prev {
    left: 50px;
    z-index: 1;
  }
  .slick-next {
    right: 50px;
  }
}
