.button {
  background: $color-red;
  color: $color-white;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 20px 10px;
  display: inline-block;

  min-width: 250px;

  transition: 250ms ease;

  &:hover {
    background: $color-black;
  }
  &.black-btn {
    border: 1px solid $color-white;
    color: $color-white;
    background: $color-black;
    &:hover {
      background: $color-red;
      color: $color-white;
      border: 1px solid $color-red;
    }
  }
  &.white {
    background: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    &:hover {
      background: $color-red;
      color: $color-white;
      border: 1px solid $color-red;
    }
  }
}

.btn {
  border: none;
  font-size: 15px;
  line-height: 19px;
  background: $color-white;
  color: $color-black;
  display: block;
}

.textarea {
  resize: none;
  padding: 30px;
}

.download-block {
  text-align: right;
}

.download-button {
  background: #fff;
  color: #ff0000;
  display: inline-block;
  border: 1px solid red;
  border-radius: 17.5px;
  padding: 3px 30px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 15px;
}

.download-span {
  font-size: 15px;
  line-height: 19px;
  margin-right: 20px;
}

.select {
  background-color: #fff;
  color: #777777;
  padding: 30px 10px 8px 15px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid black;
  -webkit-appearance: none;
  border-radius: 0;
  background-position: calc(100% - 10px) 51%;
  background-repeat: no-repeat;
  background-image: url("../images/arrow.svg");
  background-size: 16px;
}

.input {
  position: relative;
  .calculator {
    position: relative;
    .calculator-title {
      color: $color-red;
      text-transform: lowercase;
      font-size: 15px;
      line-height: 15px;
      display: inline-block;
    }
    &.audio-buttons {
      position: absolute;
      top: 60px;
      left: 35%;
    }
  }
}

.calculator {
  float: none;
  vertical-align: center;
  &.media-add-button {
    float: none;
    .red {
      vertical-align: top;
      font-size: 18px;
      line-height: 23px;
    }
  }

  .count-button {
    background: $color-white;
    color: $color-red;
    display: block;
    border: 1px solid red;
    font-size: 15px;
    line-height: 19px;
    border-radius: 0;
    margin-left: 10px;
    width: 35px;
    height: 35px;

  }
  .language-title {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .plus {
    position: relative;
    display: inline-block;

    background: url('../images/plus.png') 50% no-repeat;
  }
  .minus {
    position: relative;
    display: inline-block;

    background: url('../images/minus.png') 50% no-repeat;
  }
}

.black {
  color: $color-black !important;
}

.fz15 {
  font-size: 18px !important;
  font-weight: 900 !important;
}

.costs-left,
.costs-right {
  height: 100%;

  .advantages-list {
    margin-bottom: 80px;
  }
}

.costs-left {
  border-right: 1px solid #7e7e7e;
  padding-right: 25px;
}

.price {
  .text {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 20px;
    color: red;
  }
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.carousel {
  padding-top: 50px;
}

.d-footer {
  padding-left: 20px;
  margin-left: 50px;
  border-left: 1px solid red;
  padding-top: 20px;
}

.man-profile {
  img {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

.body-block {
  margin-left: 0;
}

.required {
  float: right;
  font-size: 15px;
  line-height: 13px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.subtitle {
  font-family: "Futura PT Book";
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0;
  color: $color-red;
  margin: 50px 0;
  display: inline-block;
  position: relative;
  font-weight: bold;

  &.underlined::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 112px;
    height: 2px;
    bottom: -30px;
    left: 0;
    background: $color-red;
  }
}

.profile-title {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  padding: 0;
  color: $color-red;
  &.underlined::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 112px;
    height: 2px;
    bottom: -30px;
    left: 0;
    background: $color-red;
  }
}

.title {
  font-family: "Futura PT Book";
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.25em;
  color: $color-black;
  display: inline-block;
  position: relative;
  font-weight: bold;

  &.underlined::after {
    display: none;
  }

  &.small {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.forward {
  margin-top: 50px;
  min-width: 350px;
}

.red {
  color: red !important;
}

.relative {
  position: relative;
}

@include desktop {
  .required {
    float: left;
    font-size: 18px;
    line-height: 23px;

  }

  .download-button {
    font-size: 15px;
    line-height: 19px;
  }

  .input {
    position: relative;
    .calculator {
      position: absolute;
      top: 0;
      right: 62px;
      .calculator-title {
        display: none;
      }
      &.audio-buttons {
        position: absolute;
        top: 60px;
        left: 35%;
      }
    }
  }
  .body-block {
    margin-left: 50px;
  }
  .calculator {
    .add-education {
      float: left;

    }
    .count-button {
      float: right;
      width: 50px;
      height: 50px;
    }
  }
  .profile-title {
    display: none;
  }
  .subtitle {
    font-size: 18px;
    line-height: 23px;
  }
  .title {
    font-size: 25px;
    line-height: 32px;
    padding: 0;
    color: $color-red;
    &.underlined::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 112px;
      height: 2px;
      bottom: -30px;
      left: 0;
      background: $color-red;
    }
  }
}