.our-community-box {
  max-width: 100%;

  margin-top: 100px;
  padding-bottom: 50px;

  .our-community-head {
    margin-bottom: 40px;
  }
}

.our-community-buttons {
  .button {
    margin-right: 20px;
  }
}

.our-community-body {
  padding-right: 50%;
  padding-left: 8%;

  padding-top: 30px;
  padding-bottom: 30px;
}

.animation-box {
  margin-left: 20%;
  margin-top: -40px;
  margin-bottom: -50px;

  .inimation-img {
    display: block;
    width: 100%;
    height: auto;
  }
}
