.costs-box {
  position: relative;
  margin-bottom: 40px;

  .costs-subheader {
    padding-right: 0;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 40px;

    .text {
      letter-spacing: 1px;
      line-height: 15px;
      font-size: 15px;
    }
  }

  .costs-subheaders {
    padding-right: 30%;
    padding-left: 60px;
    padding-top: 0px;
    padding-bottom: 40px;

    .text {
      letter-spacing: 1px;
      line-height: 15px;
      font-size: 15px;
    }
  }
}

.w100 {
  width: 100%;
  padding: 0 !important;
}

@include desktop {
  .costs-box {
    position: relative;
    margin-bottom: 40px;

    .costs-subheader {
      padding-right: 40%;
      padding-left: 60px;
      padding-top: 50px;
      padding-bottom: 40px;

      .text {
        font-size: 20px;
      }
    }
  }
}
