.countings-box {
  max-width: 100%;
  margin-bottom: 150px;
  margin-top: 100px;
}

.counting {
  display: block;
  position: relative;

  .amount {
    display: block;
    color: white;
    font-size: 50px;
    position: relative;

    &.stars,
    &.film-makers,
    &.companies {
      &::after {
        content: "";
        height: 30px;
        width: 30px;
        position: absolute;
        top: -30px;
      }
    }

    &.stars::after {
      background: url("../images/stars.svg") center no-repeat;
      background-size: 100%;
    }

    &.companies::after {
      background: url("../images/moviemaker-ico.svg") center no-repeat;
      background-size: 100%;
    }

    &.film-makers::after {
      background: url("../images/camera-icon.svg") center no-repeat;
      background-size: 100%;
    }
  }

  .title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &.right-border {
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 17%;
      top: 0;
      bottom: 0;

      width: 1px;
      background: $color-red;
    }
  }
}
