
$futura_pt_book: '../fonts/futura_pt_book';
$futura_pt_demi: '../fonts/futura_pt_demi';
$futura_pt_medium: '../fonts/futura_pt_medium';

@font-face {
  font-family: 'Futura PT Book';
  src:url($futura_pt_book + '.eot');
  src:url($futura_pt_book + '.eot?#iefix') format('embedded-opentype'),
    url($futura_pt_book + '.woff') format('woff'),
    url($futura_pt_book + '.woff2') format('woff2'),
    url($futura_pt_book + '.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src:url($futura_pt_demi + '.eot');
  src:url($futura_pt_demi + '.eot?#iefix') format('embedded-opentype'),
    url($futura_pt_demi + '.woff') format('woff'),
    url($futura_pt_demi + '.woff2') format('woff2'),
    url($futura_pt_demi + '.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Medium';
  src:url($futura_pt_medium + '.eot');
  src:url($futura_pt_medium + '.eot?#iefix') format('embedded-opentype'),
    url($futura_pt_medium + '.woff') format('woff'),
    url($futura_pt_medium + '.woff2') format('woff2'),
    url($futura_pt_medium + '.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
