#wizard{
  &.filmmaker-wizard{
    .prompt{
      margin: 50px 46% 50px 0;
    }
  }
  .access{
    .access-label{
      display: flex;
      padding-bottom: 20px;
    }
  }
  .inspiration-block{
    margin-top: 50px;
  }
  .company-label{
    margin-right: 23%;
  }
  .filmmaker-label{
    text-transform: uppercase;
    margin: 15px 5px;
  }
}