.input-blocks {
  label{
    font-size: 15px;
    line-height: 15px;
  }
  .label{
    line-height: 5;
  }
  input {
    width: 100%;
    color: #777777;

    padding: 30px 10px 8px 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    &::placeholder {
      font-size: 18px;
      line-height: 23px;
      color: #777777;
    }
  }
}




.input-checkbox {
  margin: 30px 0 50px 0;
  label {
    padding-right: 100px;
  }
}




input[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 40px;
  margin: 10px 0 5px 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 40px;

  display: inline-block;
  color: $color-black;
  &.bg-white {
    color: white;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.25px;
  }
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 1px solid $color-black;
  background: #fff;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 15px;
  height: 15px;
  background: $color-black;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &.bg-white {
    background: red;
  }
}



input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  text-transform: capitalize;
  font-size: 15px;
  line-height: 40px;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  color: $color-black;
  &.bg-white {
    color: white;
  }
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 1px solid $color-black;
  background: #fff;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 15px;
  height: 15px;
  background: $color-black;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@include desktop{
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    color: $color-black;
    &.bg-white {
      color: white;
    }
  }

  .input-checkbox {
    margin: 30px 0 50px 26%;
    label {
      padding-right: 100px;
    }
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    font-size: 18px;
    line-height: 40px;
  }


  .input-blocks{
    .label{
      line-height: 0;
    }
    label{
      font-size: 18px;
      line-height: 23px;
    }
  }
}