
.form-box {
  .careers-checkbox {
    display: inline-flex;
    margin-right: -60%;
    .career {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      .description {
        padding-right: 41%;
        padding-left: 40px;
      }
      .red {
        text-transform: uppercase;
      }
    }
  }
  .inputs {
    padding-right: 0;
  }
  .form-checkbox {
    margin-bottom: 25px;
    label {
      padding-left: 50px;
    }
  }

  input {
    background: white;
    color: #E9E8E6;
    display: block;
    width: 100%;

    padding: 30px 10px 8px 15px;
    margin-bottom: 20px;
    border: 1px solid black;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  .link-recovery {
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  button {
    width: 100%;
    margin-bottom: 20px;
    border: none;
  }

  .button {
    width: 100%;

    &.facebook-color {
      background: #3c5a96;
      &:hover {
        background: black;
      }
    }
  }
}


.form-btn {
  margin: 30px 0;
  a {
    text-decoration: none;
    margin-right: 30px;
  }
  label{
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .white {
    color: $color-white;
    text-transform: uppercase;
  }
  .red {
    color: red;
    text-transform: uppercase;
  }
}

body.blacked {
  .form-box {
    input {
      background: #C4C4C4;
    }

    .careers {
      display: inline-flex;
      .career {
        p {
          color: $color-white;
        }
      }
    }

    .button,
    button {
      border: none;

      &:hover {
        background: white;
        color: black;
      }
    }
  }
}

@include desktop{
  .form-box{
    .inputs {
      padding-right: 20%;
    }
    .link-recovery{
      font-size: 14px;
      line-height: 18px;
    }
    .careers-checkbox {
      display: inline-flex;
      margin-right: -60%;
      .career {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        .description {
          padding-right: 41%;
          padding-left: 40px;
        }
        .red {
          text-transform: uppercase;
        }
      }
    }

    .form-btn {

      label {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
      }
    }
  }
}