.our-platform-box {
  margin-top: 100px;
  position: relative;
  z-index: 10;
  padding-right: 35%;

  .our-platform-head {
    margin-bottom: 40px;
  }

  .about-us {
    padding-left: 5%;
    padding-right: 10%;
    margin-bottom: 80px;
  }

  .video-preview {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(100%);
    margin-bottom: 40px;


    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: url("../images/play.svg") center no-repeat;
    }

    transition: filter 500ms ease-in-out;

    &:hover {
      cursor: pointer;
      filter: grayscale(0%);

    }
  }
}
