.shadow-layer {
  position: absolute;
  z-index: 0;
  right: -50px;

  width: 365px;

  .shadow-layer-films {
    display: flex;
    flex-direction: column;

    .shadow-film {
      transition: filter 500ms ease-in-out;
      filter: grayscale(100%);
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 10px;
        left: 10px;
        right: 0;
        background: url('../images/eye.svg') left bottom no-repeat;
      }

      &:hover {
        cursor: pointer;
        filter: grayscale(0%);
      }
    }
  }

  .shadow-film-image {
    display: block;
  }

  &.first {
    top: -80px;
    right: 0;

    .shadow-layer-films {
      :nth-child(1) {
        align-self: center;
      }

      :nth-child(2) {
        align-self: flex-end;
      }

      :nth-child(3) {
        align-self: center;
      }
    }
  }

  &.second {
    top: -150px;
    right: 0;

    .shadow-layer-films {
      :nth-child(1) {
        align-self: center;
      }

      :nth-child(2) {
        align-self: flex-end;
      }
    }
  }

  &.third {
    top: -90px;
    width: 250px;

    .shadow-layer-films {
      :nth-child(1) {
        align-self: flex-start;
      }

      :nth-child(2) {
        align-self: flex-end;
      }

      :nth-child(3) {
        align-self: center;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .shadow-layer {
    right: -5px;
  }
}
