.socials {
  display: flex;
  align-items: center;

  .title {
    padding-top: 2px;
    margin-bottom: 0;
    font-size: 20px;
  }
  .bg-white {
    color: #fff;
  }

  .social-links {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;

    .social-link {
      display: block;
      margin-right: 10px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;

      height: 31px;
      width: 185px;

      margin-top: -2px;

      right: -185px;
      background: url('../images/film-red-foot.svg') center no-repeat;
    }
  }
}

.youtube,
.instagram,
.facebook,
.vk {
  &::after {
    content: '';
    display: inline-block;
    height: 29px;
    width: 41px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.youtube::after {
  background-image: url('../images/ytb.svg');
}

.instagram::after {
  background-image: url('../images/inst.svg');
}

.facebook::after {
  background-image: url('../images/fb.svg');
}

.vk::after {
  background-image: url('../images/vk.svg');
}
