.socials {
  display: flex;
  align-items: center;

  .title {
    padding-top: 2px;
    margin-bottom: 0;
    font-size: 15px;
  }

  .social-links {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;

    .social-link {
      display: block;
      margin-right: 10px;
    }

    &:after {
      content: '';
      display: block;
      transform: rotate(90deg);
      position: absolute;

      width: 31px;
      height: 238px;

      margin-top: -2px;

      right: -150px;
      background: url('../images/film-red.png') center no-repeat;
    }
  }
}

.youtube,
.instagram,
.facebook,
.vk {
  &::after {
    content: '';
    display: inline-block;
    height: 29px;
    width: 41px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.youtube::after {
  background-image: url('../images/youtube.png');
}

.instagram::after {
  background-image: url('../images/insta.png');
}

.facebook::after {
  background-image: url('../images/facebook.png');
}

.vk::after {
  background-image: url('../images/vk.png');
}
