.header-box {
  .menu-link-bottom {
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

#wizard {
  textarea {
    resize: none;
  }
  form {
    margin-top: 40px;
  }
  .title {
    margin-bottom: 40px;
  }
  .input-checkbox {
    margin: 50px 0 50px 25%;
    label{
      padding-left: 40px;
      margin-right: 30px;
    }
  }
  .input-blocks {
    label {
      width: 25%;
      float: left;
      line-height: 50px;
      text-align: left;
      text-transform: capitalize;
    }
    input {
      width: 50%;
      color: #777777;
      display: block;

      padding: 30px 10px 8px 15px;
      margin-bottom: 20px;
      border: 1px solid black;
      &::placeholder {
        font-size: 18px;
        line-height: 23px;
        color: #777777;
      }
    }
  }
  .photo-section {
    display: flex;
    flex-wrap: wrap;
    .photo-blocks {
      width: 25%;
      padding: 0 25px;

      .vector {
        border: 1px solid black;
        padding: 6px 15px 0px 15px;
        height: 100px;
      }

    }
    .photo-title {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
    }
    .photo-blocks-bottom {
      flex-basis: 16%;
      margin-right: 50px;
      .photo-text {
        color: #777777;
        min-width: 315px;
      }

      .big-vector {
        border: 1px solid black;
        padding: 40px 50px 0 50px;
      }
      .big-vector-p {
        border: 1px solid black;
        padding: 11px 40px 0 40px;
        .arrow {
          margin-left: 35px;
        }
      }
    }
  }

}
