.big-title {
  font-family: 'Futura PT Book', 'sans-serif';
  font-size: 25px;
  color: $color-red;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 900;
  line-height: 1.4;

  margin-top: 0px;
  margin-bottom: 20px;
}

.black {
  color: black;
}

.text {
  font-size: 18px;
  margin-top: 0;
  font-weight: 900;

  letter-spacing: 0.5px;
    line-height: 1;
}

.uppercase {
  text-transform: uppercase;
}
