
#wizard {
  .form {
    margin: 50px 0;
  }

  .number {
    display: none;
  }
  .steps {
    display: none;
    padding-bottom: 20px;
    position: relative;
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      width: 200px;
      height: 2px;
      bottom: -20px;
      right: 15px;
      background: $color-black;
    }
    li {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      height: 31px;
      position: relative;
      a {
        color: black;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 23px;
        text-decoration: none;
      }
    }
  }

  .content h4 {
    display: none;
  }

  @include desktop {
    .steps {
      display: block;
      float: right;
    }
  }
}
