
#wizard {
  .form {
    margin: 50px 0;
  }

  .number {
    display: none;
  }
  .steps {
    display: none;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    li {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      height: 31px;
      position: relative;
      a {
        color: black;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 23px;
        text-decoration: none;
      }
    }
  }

  .content h4 {
    display: none;
  }

  @include desktop {
    .steps {
      display: block;
      float: right;
    }
  }
}
