#wizard {
  .number{
    display: none;
  }
  .activity-info {
    padding: 0 25% 0 43px;
  }
  .calculator {
    float: right;
    .count-button {
      border-radius: 0px;
      padding: 0px;
      margin-left: 10px;
      width: 50px;
      height: 50px;
    }
  }
  .photo-card {
    display: flex;
    flex-direction: column;
    .photo-cards {

      img {
        margin: 5px;
      }
    }
  }
  .gallery-info {
    display: inline-flex;

    p:first-child {
      margin-right: 40px;
      border-right: 1px solid #777777;
    }
  }
  .photo-info {
    display: inline-flex;
    border: 1px solid black;
    p {
      padding: 50px 40px;
      border-right: 1px solid #777777;
    }
    p:last-child {
      color: #777777;
      border-right: none;
    }
  }
  .circle {
    background: black;
    border-radius: 50%;
    padding: 3px 13px;
    margin: 0 10px 0 23px;
  }
  .contract-download {
    margin: 30px 0;
  }
  button {
    background: $color-white;
    color: $color-red;
    display: inline-block;
    border: 1px solid red;
    border-radius: 17.5px;
    padding: 3px 30px;
    font-size: 15px;
    line-height: 19px;
  }
  .gray {
    color: #777777;
    font-size: 15px;
    width: 53%;
  }
  .counter {
    display: none;
  }
  .contract {

    .contract-info {
      margin: 30px 0;
    }

    .contract-btn {
      background: $color-white;
      color: $color-black;
      border: 1px solid black;
      padding: 3px 10px;
    }
    .contract-gray {
      font-size: 12px;
      padding: 0 48% 0 0;
      line-height: 15px;
      color: #777777;
    }
  }

  .work-blocks {
    display: inline-block;
    margin-left: 40px;
  }
  form {
    .work-input {
      display: inline-flex;
      margin: 40px 20% 1px 40px;
      vertical-align: top;
      input {
        width: 50px;
        height: 50px;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
      }
      .work-text {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          display: inline-block;
          height: 125px;
          width: 2px;
          background: #777777;
        }
      }
      p {

        color: #777777;
        margin-left: 10px;
      }
    }
  }
  .activity-form {
    display: inline-flex;
    margin-bottom: 50px;
    .activity-blocks {
      padding: 0 7px;
      label {
        text-transform: uppercase;

      }
    }
    p {
      margin-left: 30px;
      color: #777777;
    }
  }
}